/*html,
body {
    margin:0;
    padding:0;
    height:100%;  
}
#main{
    position:relative;
    height:100%;
}
.main{
    padding:10px;
    padding-bottom:50px;    Height of the footer 
    margin-top: 80px;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;    Height of the footer 
    background: #222;
}
.sidebar{
    z-index: 0;
}*/

ol, ul {
	list-style: none;
}
.dvproducts{
    background-color: #f8f8f8;
    height: 570px;
    padding: 20px;
}
.product{
    border: 1px solid #BCE8F1;
    background-color: #fff;
    width: 30%;
    margin: 30px 10px;
    float: left;
    padding-bottom: 10px;
    height: 200px;
}
.product p{
    color: #31708F;
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    padding: 10px;
    font-size: 11px;
    line-height: 15px;
}
.product ul li{
    float: left;
    width: 30%;
    margin: auto;
    border-right: 1px solid #BCE8F1;
}
.product ul li img{
    max-width: 90px;
    max-height: 120px;
    text-align: center;
}
.images-alert li{
    display:none;
    background-color: red;
}

img.imgProductDefault{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 15px;
}
.novoProduto {
    text-align: center;
    margin: auto;
    display: block;
    width: 100px;
}
img.bgProduct{
    margin: 0px;
    float: right;
    right: 0px;
    margin-top: -10px !important;
    margin-right: -10px !important;
    display: block;
}

.linksDivProduto{
    float: right;
}

/*form*/
.dvformulario {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding-bottom: 50px;
    min-height:100%;
    position:relative;
}
.title-form{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.title-form h4,.title-form h5{
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.title-form h5{
    text-align: left;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}
.title-form p, .title-form p span {
    text-align: center !important;
    font-size: 12px;
}

.noFound{
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.form-group{
    clear: both;
}
.form-group label{
    background-color: #e9e9e9;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    height: 100%;
}
.dvBtn{
    clear: both;
    margin: 20px auto;
    float: right;
}
span.requiredField{
    color: #C00;
}
input[type="text"].requiredField,
input[type="password"].requiredField,
select.requiredField,
textarea.requiredField {
	border-left-color: #C00;
}
.error{
    color: red;
    color: #b84464;
    float: left;
    border-radius: 4px;
    clear: both;
    font-size: 11px;
}
.labelTextarea{
    height: 110px; 
    line-height: 90px;
}
.labelTextareaSmall{
    height: 70px; 
    line-height: 75px;
}

.removeItemColumn{
    text-align: center;
    display: block;
    padding-top: 6px;
}
.clear{
    clear: both;
}
.msg-warnig p{
    padding: 10px;
    border: 1px solid #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.floatRight{
    float: right;
}

#processDiv{
    
}
.displayNoneImportant{
    display: none !important;
}
.displayNone{
    display: none;
}
.dvSumaryRecall{
    border: 1px solid #ddd;
    padding: 0px;
    margin: 10px 0px 30px 0px;
}

.tbSumaryRecall{
    width: 100%;
}
.tbSumaryRecall tr:nth-child(even) {
    background-color: #EDF3FF;
}

.tbSumaryRecall tr:nth-child(odd) {
    background-color: #fff;
}
.tbSumaryRecall tr td:first-child{
    width: 25%;
    border-right: 1px solid #EDF3FF;
    padding: 5px;
}
.tbSumaryRecall tr td:last-child{
    width: 100%;
    padding: 5px;
}

.tbSumaryRecall tr td img{
    width: 40px;
    float: left;
    margin-right: 10px;
}

.bgWhite {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}
.bgWhite p:nth-child(even), bgWhite p:nth-child(odd) {
    padding: auto 10px;
}


.tituloSumary {
    background-color: #124E7C;
    margin: 0px;
    height: 45px;
}
.tituloSumary h4{
    color: #fff;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.tituloSumary a{
    float: right;
    padding: 10px;
}

.bgPublish{
    background-color: #449d44;
    border-color: #398439;
}

.bgReservation{
    background-color: #ec971f;
    border-color: #d58512;
}

.bgPublishReturned{
    background-color: #c9302c;
    border-color: #ac2925;
}

.mergeCel{
    background-color: #ccc;
    text-align: center;
    border-top: 1px solid #bbb;
    border-bottom: 2px solid #aaa;
}

.tbLoteProduct tr td:last-child{
    width: 2%;
    text-align: center;
}
.tbLoteProduct tr td{
    width: 12%;
}

.tbAffectedView{
    width: 50% !important;
}
.tbAffectedView tr th:first-child, .tbAffectedView tr td:first-child{
    width: 80%;
}


.tbProductView{
    width: 100%;
    border: 1px solid #bbb;
    text-align: center;
}
.tbProductView tr th{
    width: 20%;
    background-color: #ccc;
    font-size: 12px;
}

.tbProductView tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tbProductView tr:nth-child(odd) {
    background-color: #fff;
}
.tbProductView tr td:first-child{
    border-right: 1px solid #ddd;
    padding: 5px;
}
.tbProductView tr td:last-child{
    width: 100%;
    padding: 5px;
}

.dvProductsView{
    padding: 10px 10px 0px 0px;
}
.hideProduct{
    cursor: pointer;
}
.hideProduct img{
    width: 14px !important;
}
.floatLeft {
    float: left;
}
table.tbHeader{
    width: 100%;
    margin-bottom: 20px;
}
table.tbHeader thead, table.tbHeader2 thead{
    background-color: #eee;
    border: 1px solid #ccc;
}
table.tbHeader thead tr th:last-child, table.tbHeader tr td:last-child{
    border: 1px solid #f8f8f8 !important;
    background-color: #f8f8f8;
}
table.tbHeader thead tr th{
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
}
table.tbHeader thead tr th:last-child{
    width: 90px;
}
table.tbHeader tr td{
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.infoRecall p{
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

table.table-list tr td, table.table-list tr th{
    text-align: center;
}

.btnNext{
/*   text-align: center;
   position:absolute;
   bottom:0;
   width:99%;
   height:60px;    Height of the footer 
   margin-top: 30px;*/
   text-align: center;
}

.aprovarCampanha{
    float: right;
    color: #fff;
}

/* botao topo*/
.botao-topo 
{
    width: 130px;
    height: 40px;
    position: fixed;
    right: 0px !important;
    z-index: 1000;
    display: block;
    -moz-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}

.botao-topo-exibe
{
    bottom: 0px;
}

.botao-flutuante img 
{
    width: 40px;
    height: 40px;
    cursor: pointer !important;
    position: fixed;
    right: 0 !important;
}

.texto-info-box
{
    width: 70px;
    height: 34px;
    left: 5px !important;
    position: relative;
    background-color: #000;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
    transition:all 0.5s;
    -moz-transition: all 0.5s, -moz-transform 1s; /* Firefox 4 */
    -webkit-transition: all 0.5s, -webkit-transform 1s; /* Safari and Chrome */
    -o-transition: all 0.5s, -o-transform 1s; /* Opera */	
}

.texto-info-box p
{
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    padding: 10px;
}

.texto-info-box-exibe
{
    /* IE 8 */
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;		
}
.totalRows span{
    vertical-align: bottom;
    padding: 7px;
    font-weight: bold;
    display: block;
    width: 50px;
    float: left;
    text-align: right;
}

.table-grid, .table-grid thead th, .tbCenter, .tbCenter thead th{
    text-align: center;
}
.table-grid thead th:first-child{
    width: 160px;
}

.topo {
    margin-top: 70px;
}
.topo-title{
    padding: 5px 15px;
    border: 1px solid #b1b1b1;
    background-color: #ddd;
    color: #000;
    margin-bottom: -7px;
    height: 45px;
}
.topo-title-div{
    padding: 5px 15px;
    border: 1px solid #b1b1b1;
    background-color: #ddd;
    color: #000;
    height: 45px;
}
.dataTables_length,.dataTables_filter{
    margin-top: -80px;   
}