/*
 * @CSS3 Tabstrip
 * @author Martin Ivanov
 * @website http://wemakesites.net
 * @blog http://acidmartin.wordpress.com/
 * @twitter https://twitter.com/wemakesitesnet
 **/
 
/*
 * Width should be set to the outermost element
 * if you have multiple tabstrips on a single page
 * you can set dimensions using for example additional class names
 * or IDs. In this case, I am applying width and height to the
 * base CSS class.
 **/
.css3-tabstrip {
    width: 100%;
    height: 550px;
}   
 
.css3-tabstrip ul,
.css3-tabstrip li {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.css3-tabstrip,
.css3-tabstrip input[type="radio"]:checked + label {
    position: relative;
}
 
.css3-tabstrip li,
.css3-tabstrip input[type="radio"] + label {
    display: inline-block;
}
 
.css3-tabstrip li > div,
.css3-tabstrip input[type="radio"] {
    position: absolute;
}
 
.css3-tabstrip li > div,
.css3-tabstrip input[type="radio"] + label {
    border: solid 1px #ccc;
}
 
.labelAba {
    font: bold 11px Arial, Sans-serif;
    color: #404040;
}
 
.css3-tabstrip li {
    vertical-align: top;
}
 
.css3-tabstrip li:first-child {
    margin-left: 8px;
}
 
.css3-tabstrip li > div {
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #f8f8f8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.css3-tabstrip input[type="radio"] + label {
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.css3-tabstrip input[type="radio"]:checked + label {
    z-index: 1;
    background: #f2f2f2;
    border-bottom-color: #f2f2f2;
    cursor: default;
}
 
.css3-tabstrip input[type="radio"] {
    opacity: 0;
}
 
.css3-tabstrip input[type="radio"] ~ div {
    display: none;
}
 
.css3-tabstrip input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
}
 
.css3-tabstrip input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
}