/* geral */
.timeLine{
    width: 100%;
    margin: 20px 0px 20px 0px;
}
.timeLine tr td{
    text-align: center;
    width: 12.5%;
    height: 50px;
    margin: 0px 0px 20px 0px;
}
.timeLine tr td:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.timeLine tr td p, .timeLine tr td a{
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.timeLine tr td a{
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
.timeLine tr td p{
    opacity: 6;
    filter: alpha(opacity=60);
}


/* inativo */
.timeLine tr td.inativo{
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    opacity: 1;
    filter: alpha(opacity=100);
}
.timeLine tr td.inativo:hover{
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #f8f8f8;
    cursor: not-allowed;
}


/* ativo */
.timeLine tr td.ativo{
    border: 1px solid green;
    background-color: #DFF0D8 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.timeLine tr td.ativo a{
    color: #3C763D !important;
}
.timeLine tr td.ativo:hover{
    border: 2px solid #333;
}


/* aguardando */
.timeLine tr td.aguardando{
    background-color: #fff;
    border: 1px solid #333;
    opacity: 1;
    filter: alpha(opacity=100);
}

.timeLine tr td.aguardando:hover{
    border: 2px solid #333;
}


/* Atual */
.timeLine tr td.atual, .timeLine tr td.atual:hover{
    border: 2px solid #333 !important;
    box-shadow: 2px 8px 5px #bbb;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
}
.timeLine tr td.atual a:hover, .timeLine tr td.atual a{
    text-decoration: none;
}