.lastRecall{
    border: 1px solid #ddd;
    text-align: center;
    float: left;
    margin: 5px !important;
    height: 300px;
}
.lastRecall p{
    padding: 10px;
}
.lastRecall a {
    text-align: center;
    margin: auto;
    color: #3268BA !important;
}
.lastRecall img {
    padding-top: 10px;
    height: 136px;
}
.titleLastRecall{
    background-color: #f2f2f2;
    height: 45px;
    padding: 5px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.titleLastRecall:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.owl-demo .item{
    display: block;
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
}
.productDetails p, .productDetails a{
    line-height: 100% !important;
}
.productDetails span{
    width: 160px;
    display: block;
    float: left;
}
.clear{
    clear:both;
}
table.tbSearch{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
table.tbSearch tr td{
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 2px solid #fff;
}
table.tbSearch tr td:first-child{
    width: 25%;
    background-color: #EEEFF2;
    border-left: 1px solid #1F5DC2;
    padding-top: 0px;
}
table.tbSearch tr:last-child td{
    background-color: #FFF;
    border-left: 1px solid #FFF;
}
.display-error{
    color: red;
    color: #b84464;
    float: right;
    border-radius: 4px;
    clear: both;
    font-size: 11px;
}

span.requiredField{
    color: #C00;
}
input[type="text"].requiredField,
input[type="password"].requiredField,
select.requiredField,
textarea.requiredField {
	border-left-color: #C00;
}
