article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls]){
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

html, button, input, select, textarea {
	font-family: sans-serif
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active, a:hover {
	outline: 0
}

* {
	list-style: none;
	vertical-align: baseline
}

@media screen {
	* {
		margin: 0;
		padding: 0
	}
	* *:link, *:visited {
		text-decoration: none
	}
	* ul, ol {
		list-style: none outside none
	}
	* li {
		display: inline
	}
	* h1, h2, h3, h4, h5, h6, pre, code {
		font-size: 1em
	}
	* a img, *:link img, *:visited img {
		border: medium none
	}
	a {
		outline: medium none
	}
	a:hover {
		text-decoration: none
	}
	table {
		border-spacing: 0
	}
	img {
		vertical-align: text-bottom
	}
	iframe {
		border-style: none;
		border-width: 0
	}
}

body {
	background-color: #fff;
	color: #333;
	font-family: "open_sansregular", 'Open Sans', Arial, Helvetica,
		sans-serif
}

h1, h2, h3, h4, h5, h6 {
	font-family: "open_sanssemibold", 'Open Sans', Arial, Helvetica,
		sans-serif;
	font-weight: 700;
	margin: 0
}

#content h1 {
	margin-top: 0 !important
}

a {
	color: #08c
}

.debug {
	border: 1px solid #f00
}

.no-margin {
	margin: 0 !important
}

/* old
.error {
	background-color: #ffffe3;
	border: 1px solid #996;
	clear: both;
	margin: 1em 0;
	padding: 10px
}
*/
.error{
    color: red;
    color: #b84464;
    //float: left;
    border-radius: 4px;
    clear: both;
    font-size: 11px;
}

.minor-font {
	font-size: .75em
}

header {
	background-color: #1f5dc2;
	background-image: -moz-radial-gradient(center, ellipse cover, #2773e1 1%, #1a5cbc 100%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(1%, #2773e1), color-stop(100%, #1a5cbc));
	background-image: -webkit-radial-gradient(center, ellipse cover, #2773e1 1%, #1a5cbc 100%);
	background-image: -o-radial-gradient(center, ellipse cover, #2773e1 1%, #1a5cbc 100%);
	background-image: -ms-radial-gradient(center, ellipse cover, #2773e1 1%, #1a5cbc 100%);
	background-image: radial-gradient(ellipse at center, #2773e1 1%, #1a5cbc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e6bdb,
		endColorstr=#1a5cbc, GradientType=1);
	color: #fff;
	padding: 14px 0 0 0
}

header .accessibility-language-actions-container {
	height: 25px;
	overflow: hidden
}

header #accessibility {
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0;
	line-height: 5px
}

header #accessibility li {
	line-height: 5px;
	margin: 0 10px 0 0
}

header #accessibility a {
	color: #fff;
	font-size: .7em
}

header #accessibility a span {
	background-color: #fff;
	color: #1f5dc2;
	padding: 0 2px 0 3px
}

header #accessibility a:hover {
	background: #abb9cf
}

header #portal-siteactions, header #language {
	border-bottom: 1px dotted #ebeff5;
	text-transform: uppercase;
	margin: -6px 0 0 0
}

header #portal-siteactions li, header #language li {
	margin: 0 16px 0 0
}

header #portal-siteactions li:last-child, header #language li:last-child
	{
	margin-right: 0 !important
}

header #portal-siteactions a, header #language a {
	color: #fff;
	font-size: .73em
}

header #portal-siteactions a:hover, header #language a:hover {
	text-decoration: underline
}

header #language {
	margin-left: 20px
}

header #language li {
	margin-left: 6px;
	display: block;
	float: left
}

header #language li:first-child {
	margin-left: 0
}

header #language li a {
	padding: 0 0 0 16px
}

header #language li.language-en a {
	background: transparent url('../img/flag-en.gif') no-repeat 0 center
}

header #language li.language-es a {
	background: transparent url('../img/flag-es.gif') no-repeat 0 center
}

header #logo {
	margin: 3px 0 20px 0
}

header #logo a {
	color: #fff
}

header #logo .portal-title-1 {
	font-size: .85em;
	display: block;
	height: 21px
}

header #logo h1 {
	font-family: "open_sansextrabold", 'Open Sans', Arial, Helvetica,
		sans-serif;
	font-size: 2.75em;
	line-height: .8em;
	font-weight: 800;
	letter-spacing: -1px;
	margin-bottom: 5px
}

header #logo .portal-description {
	font-size: 1.1em;
	text-transform: uppercase;
	position: relative;
	top: 4px
}

header #logo.small {
	margin: 13px 0 10px 0
}

header #logo.small h1 {
	font-size: 2.4em;
	font-family: "open_sansbold", 'Open Sans', Arial, Helvetica, sans-serif
}

header #logo.big {
	margin: 10px 0 13px 0
}

header #logo.big h1 {
	font-size: 3.6em;
	font-family: "open_sansbold", 'Open Sans', Arial, Helvetica, sans-serif
}

header #portal-searchbox form {
	margin: 22px 0 0 0
}

header #portal-searchbox input.searchField {
	font-size: 12px;
	width: 177px
}

header #portal-searchbox input.searchField:focus {
	background-color: #ffffe5
}

header #portal-searchbox .searchButton {
	padding-bottom: 4px;
	padding-right: 8px
}

header #portal-searchbox .searchButton i.icon-search {
	font-size: 1.25em;
	color: #1f5dc2;
	-webkit-text-stroke-width: .4px;
	-webkit-text-stroke-color: #1f5dc2;
	-webkit-font-smoothing: antialiased
}

header #social-icons {
	margin: 2px 0 2px 0;
	opacity: .85;
	-moz-opacity: .85;
	filter: alpha(opacity = 85)
}

header #social-icons li {
	margin: 0 0 0 6px
}

header #social-icons a {
	color: #fff
}

header #social-icons a i {
	font-size: 1.70em;
	margin-top: 5px;
	-webkit-text-stroke-width: .4px;
	-webkit-text-stroke-color: #fff;
	-webkit-font-smoothing: antialiased
}

header #social-icons a i.icon-youtube {
	-webkit-text-stroke-width: 0 !important;
	-webkit-text-stroke-color: #e5edfb !important;
	-webkit-font-smoothing: antialiased !important
}

header #social-icons a:hover {
	color: #e5edfb;
	-webkit-text-stroke-width: .4px;
	-webkit-text-stroke-color: #e5edfb;
	-webkit-font-smoothing: antialiased
}

header #social-icons span {
	display: none !important
}

header div.sobre {
	background-color: #1b52ac;
	border-bottom: 2px solid #1b52ac
}

header div.sobre ul {
	margin: 8px 0;
	line-height: 1em
}

header div.sobre li {
	border-right: 1px solid #426fb9;
	padding: 0 10px;
	line-height: 1em
}

header div.sobre li:last-child {
	border: 0;
	padding-right: 0
}

header div.sobre a {
	color: #fff;
	font-size: .88em
}

header div.sobre a:hover {
	text-decoration: underline
}

main .container {
	padding: 48px 0 65px 0
}

main div.row-flutuante {
	margin-top: -28px
}

main .row-fluid {
	margin-left: 0 !important
}

main h2 {
	font-family: "open_sansregular", 'Open Sans', Arial, Helvetica,
		sans-serif
}

main #em-destaque {
	display: block;
	min-height: 20px;
	padding: 0;
	margin-bottom: 27px;
}

main #em-destaque h2, main #em-destaque ul, main #em-destaque li, main #em-destaque a
	{
	padding: 0;
	text-align: center;
	text-transform: uppercase
}

main #em-destaque h2 {
	background: #717782 url('../img/em-destaque.png') no-repeat right center;
	color: #fff;
	padding: 7px 0 7px 0;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	margin-right: 0;
	font-size: .7em;
	font-weight: normal;
	line-height: 1em
}

main #em-destaque ul {
	margin: 0;
	padding: 0 5px;
	background: #e8e7e7;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0
}

main #em-destaque li {
	display: block;
	float: left;
	background: transparent url('../img/linha-cinza.gif') repeat-y right 0
}

main #em-destaque li:last-child {
	background: 0
}

main #em-destaque li a {
	font-size: .7em;
	color: #333;
	display: block;
	padding: 7px 5px;
	line-height: 1em
}

main #em-destaque li a:hover {
	text-decoration: underline
}

main #em-destaque ul.n1 li {
	width: 100% !important
}

main #em-destaque ul.n2 li {
	width: 50% !important
}

main #em-destaque ul.n3 li {
	width: 33.3% !important
}

main #em-destaque ul.n4 li {
	width: 25% !important
}

main #em-destaque ul.n5 li {
	width: 20% !important
}

main #navigation #navigation-section {
	display: block
}

main #navigation nav a {
	font-size: 1em;
	line-height: .9em;
	color: #333
}

main #navigation nav a:hover {
	text-decoration: underline
}

main #navigation nav {
	display: block;
	margin-bottom: 35px
}

main #navigation nav h2 {
	border-top: 3px solid #1f5dc2;
	padding: 12px 5px 5px 10px;
	height: 32px;
	background: #eeeff2;
	text-transform: uppercase;
	font-size: .85em;
	line-height: 1em;
	color: #1f5dc2
}

main #navigation nav ul {
	display: block;
	margin: 0;
	border-top: 1px solid #e8e7e7
}

main #navigation nav li {
	display: block;
	padding: 5px 10px 5px 20px;
	border-bottom: 1px solid #e8e7e7
}

main #navigation nav li.deeper {
	background: #eeefff url("../img/menu-ativo.gif") no-repeat 10px 14px;
	border-top: 2px solid #1f5dc2;
	border-bottom: 2px solid #1f5dc2;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0
}

main #navigation nav li.deeper a {
	display: block;
	padding: 5px 5px 10px 20px;
	font-weight: 600;
	line-height: 1.2em
}

main #navigation nav li.deeper ul {
	background: #eeeff2;
	border-top: 0
}

main #navigation nav li.deeper ul a {
	font-weight: normal;
	font-size: .85em;
	padding-bottom: 5px;
	padding-left: 25px
}

main #navigation nav li.deeper ul li {
	padding-left: 0;
	border-bottom: 1px solid #dcdada
}

main #navigation nav li.deeper ul li.current a {
	font-weight: 700 !important;
	cursor: default
}

main #navigation nav li.deeper ul li.deeper {
	background: transparent url("../img/menu-ativo.gif") no-repeat 15px 14px;
	border-top: 1px solid #b6b3b3;
	border-bottom: 0
}

main #navigation nav li.deeper ul li.deeper a {
	font-weight: 600;
	padding-bottom: 10px
}

main #navigation nav li.deeper ul li.deeper ul {
	background: #e0e1e7;
	border-top: 1px solid #c3c0c0
}

main #navigation nav li.deeper ul li.deeper ul a {
	font-weight: normal;
	padding-bottom: 5px;
	padding-left: 30px
}

main #navigation nav li.deeper ul li.deeper ul li {
	padding-left: 0;
	border-bottom: 1px solid #c3c0c0
}

main #navigation nav li.deeper ul li.deeper ul li.deeper {
	background: transparent url("../img/menu-ativo.gif") no-repeat 20px 14px;
	border-top: 0;
	border-bottom: 1px solid #e8e7e7
}

main #navigation nav li.deeper ul li.deeper ul li.deeper a {
	font-weight: 600;
	padding-bottom: 10px
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul {
	background: #d1d4dc
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul a {
	font-weight: normal;
	padding-bottom: 5px;
	padding-left: 35px
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li {
	padding-left: 0
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper {
	background: transparent url("../img/menu-ativo.gif") no-repeat 25px 14px;
	border-bottom: 0
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper a
	{
	font-weight: 600;
	padding-bottom: 10px
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper ul
	{
	background: #c3c6d1;
	border-top: 1px solid #9d9999
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper ul a
	{
	font-weight: normal;
	padding-bottom: 5px;
	padding-left: 35px
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper ul li
	{
	padding-left: 5px;
	border-bottom: 1px solid #9d9999
}

main #navigation nav li.deeper ul li.deeper ul li.deeper ul li.deeper ul li ul
	{
	display: none !important
}

main #navigation .menu-de-apoio li {
	padding-left: 0;
	padding-right: 0
}

main #navigation .menu-de-apoio a {
	color: #1c78e4;
	font-size: 1.05em
}

main #navigation .central-conteudos li {
	padding: 14px 10px 14px 0 !important
}

main #navigation .central-conteudos li .imagens .icon-stack-base {
	color: #043309;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #043309;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .videos .icon-stack-base {
	color: #199325;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #199325;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .audios .icon-stack-base {
	color: #094f09;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #094f09;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .publicacoes .icon-stack-base {
	color: #199325;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #199325;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .aplicativos .icon-stack-base {
	color: #043309;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #043309;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .infograficos .icon-stack-base {
	color: #043309;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #043309;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li .estatisticas .icon-stack-base {
	color: #043309;
	-webkit-text-stroke-width: .7px;
	-webkit-text-stroke-color: #043309;
	-webkit-font-smoothing: antialiased
}

main #navigation .central-conteudos li a:hover {
	text-decoration: none
}

main #navigation .central-conteudos li a:hover .icon-light {
	color: #b9cff4
}

main #navigation .central-conteudos .icon-stack {
	font-size: 21px;
	font-weight: normal !important;
	margin-right: 2px
}

main #navigation .central-conteudos .icon-light {
	font-size: 15px
}

main #navigation .central-conteudos .icon-play {
	margin-left: 2px !important
}

main #navigation .central-conteudos .icon-mobile-phone {
	font-size: 26px !important
}

main #navigation .central-conteudos .icon-file-text {
	font-size: 18px !important;
	margin-left: 1px !important
}

main #navigation .central-conteudos .icon-volume-up {
	font-size: 18px !important;
	margin-left: 1px !important
}

footer {
	background: #155abf
}

footer .footer-atalhos {
	background: #fff;
	border-bottom: 2px solid #155abf
}

footer .footer-atalhos .container {
	padding: 10px 0 25px 0
}

footer .footer-atalhos .voltar-ao-topo a {
	color: #717782
}

footer .footer-atalhos .voltar-ao-topo a:hover {
	text-decoration: underline
}

footer .container-menus {
	padding: 46px 0 0 0
}

footer .row {
	margin-bottom: 13px
}

footer nav {
	border-left: 1px dotted #ebeff5;
	padding: 0 5px 0 10px
}

footer nav h2 {
	font-size: 1.3em;
	font-weight: bold;
	color: #6dbc96;
	line-height: 1.3em;
	padding: 5px 0 5px 0
}

footer nav ul {
	margin-left: 0
}

footer nav li {
	display: block;
	padding-bottom: 3px
}

footer nav a {
	font-size: .9em;
	color: #fff;
	line-height: .9em
}

footer nav a:hover {
	color: #fff;
	text-decoration: underline
}

footer .footer-menus {
	padding-bottom: 10px
}

footer .footer-logos {
	padding: 25px 0;
	background: #0041b2
}

footer .footer-ferramenta {
	background: #fff;
	padding: 17px 0 11px 0
}

footer .footer-ferramenta p {
	font-size: .91em;
	line-height: 1em
}

@media ( min-width :980px) {
	header .container, main .container, footer .container {
		width: 960px
	}
	main #navigation {
		width: 210px !important
	}
	main #content {
		width: 750px !important;
		margin-left: 0 !important
	}
	main #content.full {
		width: 960px !important
	}
	main #em-destaque .span2 {
		width: 20%;
		min-height: 20px
	}
	main #em-destaque .span10 {
		width: 80%;
		min-height: 20px
	}
	main #em-destaque.duas-linhas {
		min-height: 40px
	}
	main #em-destaque.duas-linhas h2 {
		padding-top: 12px;
		height: 35px
	}
	main #em-destaque.duas-linhas li {
		height: 35px
	}
	main #em-destaque.duas-linhas li.ajuste-duas-linhas {
		padding-top: 6px;
		height: 29px
	}
}

@media ( max-width :979px) {
	header .accessibility-container {
		display: none !important
	}
	header .language-and-actions-container {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important
	}
	header .language-and-actions-container #portal-siteactions {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		text-align: center
	}
	header .language-and-actions-container #portal-siteactions a {
		font-size: .81em
	}
	header #logo h1 {
		line-height: 1.1em
	}
	main .container #navigation {
		display: block;
		margin-top: -42px !important;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background: #1f5dc2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		padding-bottom: 7px !important
	}
	main .container #navigation .mainmenu-toggle {
		width: 20%;
		margin: 5px;
		float: right;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
		color: #1f5dc2
	}
	main .container #navigation #navigation-section {
		display: none;
		clear: both
	}
	main .container #navigation #navigation-section nav {
		clear: both;
		margin-bottom: 0;
		width: 98%;
		margin-left: 1%;
		margin-right: 0;
		background: #fff
	}
	main .container #navigation #navigation-section nav ul {
		display: none
	}
	main .container #navigation #navigation-section nav ul a {
		display: block;
		width: 100%;
		padding-top: 7px;
		padding-bottom: 7px
	}
	main .container #navigation #navigation-section nav li.active ul {
		display: block
	}
	main .container #navigation #navigation-section nav h2 {
		font-size: 1.3em;
		padding-top: 16px
	}
	main .container #navigation #navigation-section nav h2 i {
		margin-right: 10px
	}
	main .container #navigation #navigation-section nav.menu-de-apoio ul {
		display: block !important
	}
	main .container #navigation #navigation-section nav.menu-de-apoio ul li
		{
		margin-left: 10px
	}
	#content {
		padding-top: 58px;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important
	}
	#content #content-section {
		padding: 0 10px
	}
	main #content {
		padding-top: 32px
	}
	main #em-destaque {
		position: absolute;
		left: auto;
		top: auto;
		width: 744px
	}
	main #em-destaque.duas-linhas h2 {
		padding-top: 12px;
		height: 35px
	}
	main #em-destaque.duas-linhas li {
		height: 35px
	}
	main #em-destaque.duas-linhas li.ajuste-duas-linhas {
		padding-top: 6px;
		height: 29px
	}
}

@media ( max-width :767px) {
	header .accessibility-container {
		display: none !important
	}
	header .language-and-actions-container {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important
	}
	header .language-and-actions-container #portal-siteactions {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		text-align: center
	}
	header .language-and-actions-container #portal-siteactions a {
		font-size: .81em
	}
	header #logo h1 {
		line-height: 1.1em
	}
	main .container #navigation {
		display: block;
		margin-top: -42px !important;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background: #1f5dc2;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		padding-bottom: 7px !important
	}
	main .container #navigation .mainmenu-toggle {
		width: 20%;
		margin: 5px;
		float: right;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
		color: #1f5dc2
	}
	main .container #navigation #navigation-section {
		display: none;
		clear: both
	}
	main .container #navigation #navigation-section nav {
		clear: both;
		margin-bottom: 0;
		width: 98%;
		margin-left: 1%;
		margin-right: 0;
		background: #fff
	}
	main .container #navigation #navigation-section nav ul {
		display: none
	}
	main .container #navigation #navigation-section nav ul a {
		display: block;
		width: 100%;
		padding-top: 7px;
		padding-bottom: 7px
	}
	main .container #navigation #navigation-section nav li.active ul {
		display: block
	}
	main .container #navigation #navigation-section nav h2 {
		font-size: 1.3em;
		padding-top: 16px
	}
	main .container #navigation #navigation-section nav h2 i {
		margin-right: 10px
	}
	main .container #navigation #navigation-section nav.menu-de-apoio ul {
		display: block !important
	}
	main .container #navigation #navigation-section nav.menu-de-apoio ul li
		{
		margin-left: 10px
	}
	#content {
		padding-top: 58px;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important
	}
	#content #content-section {
		padding: 0 10px
	}
	body {
		padding-left: 0;
		padding-right: 0
	}
	header {
		padding-left: 5px;
		padding-right: 5px
	}
	header #logo {
		padding-left: 10px;
		padding-right: 10px
	}
	header #logo span {
		display: block;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 4px;
		padding-bottom: 4px
	}
	header #portal-searchbox form {
		margin-top: 12px;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		text-align: center
	}
	header #portal-searchbox .input-append .searchField {
		width: 240px;
		font-size: 18px;
		height: 30px !important
	}
	header #portal-searchbox .input-append .searchButton {
		height: 40px !important
	}
	header #social-icons {
		display: none !important
	}
	header div.sobre {
		background: transparent !important;
		text-align: center;
		padding-bottom: 10px
	}
	header div.sobre .pull-right {
		float: none !important
	}
	header div.sobre * {
		margin: 0;
		padding: 0;
		display: inline;
		border: 0
	}
	header div.sobre .hide {
		display: none
	}
	header div.sobre a {
		font-size: .9em
	}
	main .container {
		padding-top: 10px !important
	}
	main .container #em-destaque {
		width: 98%;
		margin-left: 1% !important;
		position: relative;
		margin-bottom: 10px !important
	}
	main .container #em-destaque h2 {
		background-image: none !important;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		-ms-border-radius: 5px !important;
		-o-border-radius: 5px !important;
		border-radius: 5px !important;
		background-color: #595e67
	}
	main .container #em-destaque ul {
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		-ms-border-radius: 5px !important;
		-o-border-radius: 5px !important;
		border-radius: 5px !important;
		display: table !important;
		padding-bottom: 4px !important;
		border-bottom: 1px solid #717782
	}
	main .container #em-destaque li {
		background-repeat: no-repeat !important
	}
	main .container #em-destaque.duas-linhas li.ajuste-duas-linhas {
		padding-top: inherit !important;
		height: inherit !important
	}
	main .container #navigation {
		width: 98%;
		margin-left: 1%;
		min-height: 39px;
		margin-top: 0 !important
	}
	main .container #navigation .mainmenu-toggle {
		width: 40% !important
	}
	main .container #content {
		padding-top: 10px !important
	}
	footer .footer-atalhos a {
		margin-right: 12px
	}
	footer .footer-logos {
		padding-left: 10px;
		padding-right: 10px
	}
	footer .footer-ferramenta {
		text-align: center
	}
}

main div.container .module {
	padding-bottom: 20px
}

main div.container .module h1 {
	font-size: 2.5em;
	line-height: 1.2em;
	margin: 0 0 10px 0;
	letter-spacing: -0.05em;
	font-weight: 600
}

main div.container .module h1 a {
	color: #333
}

main div.container .module .outstanding-header {
	border-top: 4px solid #3268ba;
	background: #eeeff2;
	height: 57px;
	margin: 0 0 22px 0;
	position: relative
}

main div.container .module .outstanding-header a.outstanding-link {
	position: absolute;
	right: 3px;
	bottom: 8px
}

main div.container .module .outstanding-title {
	line-height: 1em;
	margin: 11px 8px 14px 8px;
	font-size: 1.45em;
	font-weight: 400;
	color: #3268ba
}

main div.container .module .subtitle {
	text-transform: uppercase;
	font-weight: 400;
	color: #1e68d0;
	font-size: .9em;
	line-height: 1em;
	margin: 0 0 10px 0
}

main div.container .module p {
	font-size: .9em;
	line-height: 1.35em
}

main div.container .module h2, main div.container .module h3 {
	font-size: 1.1em;
	line-height: 1em;
	margin-bottom: 5px;
	font-family: "open_sansregular", 'Open Sans', Arial, Helvetica,
		sans-serif;
	font-weight: 400
}

main div.container .module h2 a, main div.container .module h3 a {
	color: #333
}

main div.container .module .img-rounded {
	-webkit-border-radius: 8px !important;
	-moz-border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	-o-border-radius: 8px !important;
	border-radius: 8px !important;
	display: block;
	width: 230px;
	height: 136px;
	overflow: hidden;
	margin-bottom: 10px
}

main div.container .module .outstanding-footer {
	border-top: 2px solid #3268ba;
	background: #eeeff2;
	height: 22px;
	margin: 26px 0 0 0;
	padding: 10px;
	clear: both
}

main div.container .module a.outstanding-link {
	font-size: .7em;
	color: #333;
	text-transform: uppercase;
	line-height: 1em;
	float: right;
	margin-right: 7px
}

main div.container .module a.outstanding-link .text {
	display: block;
	padding: 5px;
	float: left
}

main div.container .module a.outstanding-link .icon-box {
	display: block;
	float: right;
	width: 12px;
	height: 16px;
	padding: 0 4px 4px 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background-color: #3268ba;
	background-image: -ms-linear-gradient(top, #4f82d0 0, #275292 100%);
	background-image: -moz-linear-gradient(top, #4f82d0 0, #275292 100%);
	background-image: -o-linear-gradient(top, #4f82d0 0, #275292 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f82d0),
		color-stop(1, #275292));
	background-image: -webkit-linear-gradient(top, #4f82d0 0, #275292 100%);
	background-image: linear-gradient(to bottom, #4f82d0 0, #275292 100%);
	color: #fff;
	text-align: center
}

main div.container .module a.outstanding-link .icon-angle-right {
	font-size: 18px
}

main div.container .variacao-module-01 .outstanding-header {
	border-color: #4c0773;
	background: #eeeff2
}

main div.container .variacao-module-01 .outstanding-title {
	color: #4c0773
}

main div.container .variacao-module-01 .subtitle {
	color: #6c0aa4
}

main div.container .variacao-module-01 .outstanding-footer {
	border-color: #4c0773;
	background: #eeeff2
}

main div.container .variacao-module-01 a.outstanding-link .icon-box {
	background-color: #4c0773 !important;
	background-image: -ms-linear-gradient(top, #6c0aa3 0, #2c0443 100%)
		!important;
	background-image: -moz-linear-gradient(top, #6c0aa3 0, #2c0443 100%)
		!important;
	background-image: -o-linear-gradient(top, #6c0aa3 0, #2c0443 100%)
		!important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6c0aa3),
		color-stop(1, #2c0443)) !important;
	background-image: -webkit-linear-gradient(top, #6c0aa3 0, #2c0443 100%)
		!important;
	background-image: linear-gradient(to bottom, #6c0aa3 0, #2c0443 100%)
		!important;
	color: #fff !important
}

main div.container .variacao-module-02 .outstanding-header {
	border-color: #cd4500;
	background: #eeeff2
}

main div.container .variacao-module-02 .outstanding-title {
	color: #cd4500
}

main div.container .variacao-module-02 .subtitle {
	color: #e05914
}

main div.container .variacao-module-02 .outstanding-footer {
	border-color: #cd4500;
	background: #eeeff2
}

main div.container .variacao-module-02 a.outstanding-link .icon-box {
	background-color: #cd4500 !important;
	background-image: -ms-linear-gradient(top, #ff5601 0, #9a3400 100%)
		!important;
	background-image: -moz-linear-gradient(top, #ff5601 0, #9a3400 100%)
		!important;
	background-image: -o-linear-gradient(top, #ff5601 0, #9a3400 100%)
		!important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff5601),
		color-stop(1, #9a3400)) !important;
	background-image: -webkit-linear-gradient(top, #ff5601 0, #9a3400 100%)
		!important;
	background-image: linear-gradient(to bottom, #ff5601 0, #9a3400 100%)
		!important;
	color: #fff !important
}

main div.container .variacao-module-03 .outstanding-header {
	border-color: #105480;
	background: #eeeff2
}

main div.container .variacao-module-03 .outstanding-title {
	color: #105480
}

main div.container .variacao-module-03 .subtitle {
	color: #0779c3
}

main div.container .variacao-module-03 .outstanding-footer {
	border-color: #105480;
	background: #eeeff2
}

main div.container .variacao-module-03 a.outstanding-link .icon-box {
	background-color: #105480 !important;
	background-image: -ms-linear-gradient(top, #1672ad 0, #0a3653 100%)
		!important;
	background-image: -moz-linear-gradient(top, #1672ad 0, #0a3653 100%)
		!important;
	background-image: -o-linear-gradient(top, #1672ad 0, #0a3653 100%)
		!important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1672ad),
		color-stop(1, #0a3653)) !important;
	background-image: -webkit-linear-gradient(top, #1672ad 0, #0a3653 100%)
		!important;
	background-image: linear-gradient(to bottom, #1672ad 0, #0a3653 100%)
		!important;
	color: #fff !important
}

main div.container .module-box-01 {
	padding-bottom: 0;
	background: #eeeff2;
	border: 1px solid #c3c0c0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 20px !important
}

main div.container .module-box-01 .header {
	border-bottom: 1px solid #c3c0c0;
	padding: 10px 12px 2px 12px
}

main div.container .module-box-01 .header h2, main div.container .module-box-01 .header h3,
	main div.container .module-box-01 .header h4, main div.container .module-box-01 .header h4,
	main div.container .module-box-01 .header h6 {
	text-transform: uppercase;
	font-family: "open_sanssemibold", 'Open Sans', Arial, Helvetica,
		sans-serif
}

main div.container .module-box-01 .lista {
	margin: 0 !important
}

main div.container .module-box-01 .lista h2 a, main div.container .module-box-01 .lista h3 a,
	main div.container .module-box-01 .lista h4 a, main div.container .module-box-01 .lista h5 a,
	main div.container .module-box-01 .lista h6 a {
	color: #355075;
	font-size: 1em
}

main div.container .module-box-01 .lista h2 a:hover, main div.container .module-box-01 .lista h3 a:hover,
	main div.container .module-box-01 .lista h4 a:hover, main div.container .module-box-01 .lista h5 a:hover,
	main div.container .module-box-01 .lista h6 a:hover {
	text-decoration: underline
}

main div.container .module-box-01 li {
	margin-left: 0 !important;
	padding: 7px 5px 5px 15px;
	border-left: 1px dotted #c3c0c0
}

main div.container .module-box-01 .outstanding-link {
	display: block;
	padding: 4px 0
}

main div.container .module-box-01 .footer {
	border-top: 1px solid #c3c0c0;
	padding: 3px 12px 6px 12px;
	text-align: right
}

main div.container .module-box-01 .footer a {
	font-size: .85em;
	color: #333;
	text-transform: uppercase;
	line-height: 1em
}

main div.container .module-box-01 .gallery-pane .carousel {
	margin-bottom: 0
}

main div.container .module-box-01 .gallery-pane .carousel-control {
	border: 0;
	line-height: 1em;
	font-size: 35px
}

main div.container .module-box-01 .gallery-pane .item img {
	width: 100%;
	height: auto
}

main div.container .module-box-01 .gallery-pane .galleria-info {
	padding: 10px
}

main div.container .module-box-01 .gallery-pane h3 a, main div.container .module-box-01 .gallery-pane h4 a,
	main div.container .module-box-01 .gallery-pane h5 a, main div.container .module-box-01 .gallery-pane h6 a
	{
	color: #333;
	font-size: .85em;
	font-weight: 700
}

main div.container .module-box-01 .gallery-pane .galleria-info-description
	{
	display: block;
	margin-bottom: 5px;
	font-size: .85em
}

main div.container .module-box-01 .gallery-pane .rights {
	display: block;
	margin-bottom: 5px;
	font-size: .85em;
	font-style: italic
}

main div.container .module-twitter-facebook .header {
	padding-bottom: 0 !important
}

main div.container .module-twitter-facebook .header h2 {
	display: block;
	padding: 6px 10px 0 10px;
	border-top: 1px solid #c3c0c0;
	border-left: 1px solid #c3c0c0;
	border-right: 1px solid #c3c0c0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	margin: 0 !important;
	text-align: center;
	font-size: .9em
}

main div.container .module-twitter-facebook .header h2.active {
	background: #eeeff2
}

main div.container .module-twitter-facebook .header h2.hide {
	display: none !important
}

main div.container .module-twitter-facebook .pane {
	padding-bottom: 0;
	background: #eeeff2;
	border: 1px solid #c3c0c0;
	margin: -1px 0 20px 0 !important;
	-webkit-border-radius: 0 8px 8px 8px;
	-moz-border-radius: 0 8px 8px 8px;
	-ms-border-radius: 0 8px 8px 8px;
	-o-border-radius: 0 8px 8px 8px;
	border-radius: 0 8px 8px 8px
}

main div.container .module-twitter-facebook .twitter-content {
	min-height: 350px
}

main div.container .module-twitter-facebook .twitter-content iframe {
	min-height: 350px
}

main div.container .module-box-01-top-adjust {
	margin-top: 29px
}

#system-message-container {
	margin-bottom: 10px
}

#system-message-container dl, #system-message-container ul,
	#system-message-container li {
	margin: 0 !important
}

#system-message-container dd {
	margin: 0 0 10px 0 !important;
	padding: 10px;
	text-align: center
}

#system-message-container li {
	display: block;
	padding: 4px 4px 0 4px
}

#system-message-container dt {
	display: none !important
}

#system-message-container dd.message {
	background: #3268ba;
	color: #fff
}

#system-message-container dd.notice {
	background: #717782 !important;
	color: #fff
}

#system-message-container dd.error {
	background: #cd4500 !important;
	color: #fff;
	border: none !important
}

main div.rastro-navegacao {
	margin-left: 7px;
	height: 35px;
	font-size: .75em;
	text-transform: uppercase;
	color: #1c78e4
}

main div.rastro-navegacao a:hover {
	text-decoration: underline
}

#content.internas {
	color: #000
}

#content.internas h1, #content.internas .documentFirstHeading {
	color: #1a2a39;
	font-size: 2.7em;
	margin: 0 0 18px 0;
	text-transform: none;
	letter-spacing: -1px
}

#content.internas h1 a, #content.internas .documentFirstHeading a {
	color: #333
}

#content.internas .secondaryHeading {
	color: #1a2a39;
	font-size: 2.2em;
	line-height: 1.2em;
	margin: 0 0 18px 0;
	text-transform: none;
	letter-spacing: .4px
}

#content.internas .secondaryHeading a {
	color: #333
}

#content.internas .borderHeading {
	color: #1e68d0;
	font-size: 2em;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px solid #e8e7e7;
	margin-bottom: 10px
}

#content.internas h2, #content.internas h3, #content.internas h4,
	#content.internas h5, #content.internas h6 {
	font-size: 1.6em;
	font-weight: 700;
	margin-bottom: .8em;
	margin-top: .8em
}

#content.internas .documentCategory {
	display: block;
	color: #1e68d0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 25px
}

#content.internas .content-header-options-1 {
	margin-bottom: 30px
}

#content.internas .content-header-options-1 span strong, #content.internas .content-header-options-1 li strong
	{
	font-weight: normal
}

#content.internas .content-header-options-1 .documentByLine {
	color: #666;
	font-size: .75em
}

#content.internas .content-header-options-1 .documentByLine ul {
	color: #1e68d0;
	margin: 8px 0 0 0 !important;
	font-size: 1.1em
}

#content.internas .content-header-options-1 .documentByLine ul li {
	list-style: none !important;
	margin: 0 0 2px 0 !important;
	font-size: 1em !important
}

#content.internas .content-header-options-1 .documentByLine ul li.documentAuthor
	{
	font-weight: bold
}

#content.internas .content-header-options-1 .documentByLine ul li.documentAuthor strong
	{
	font-weight: bold
}

#content.internas .content-header-options-1 .btns-social-like {
	padding-top: 8px;
	border-left: 1px dotted #999
}

#content.internas .content-header-options-1 .btns-social-like .twitter,
	#content.internas .content-header-options-1 .btns-social-like .facebook
	{
	display: block;
	width: 102px;
	height: 30px;
	overflow: hidden
}

#content.internas .content-header-options-1 .btns-social-like .googleplus
	{
	display: block;
	width: 80px;
	height: 30px;
	overflow: hidden;
	margin-left: 10px
}

#content.internas .subtitle {
	border-bottom: 1px solid #e8e7e7;
	color: #1a2a39;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 1.2em;
	padding-bottom: 1.539em
}

#content.internas .subtitle p {
	line-height: 1.3em
}

#content.internas .description {
	display: block;
	font-size: 1.1em;
	margin: 0 0 35px 0;
	color: #666;
	line-height: 1.3em;
	font-weight: bold;
	font-size: 1.18em
}

#content.internas .description p {
	line-height: 1.3em !important
}

#content.internas p {
	font-size: 1.0em !important;
	line-height: 1.75em
}

#content.internas ul li {
	display: list-item !important;
	list-style: square outside !important;
	line-height: 1.5em !important;
	font-size: .9em;
	margin-bottom: .25em
}

#content.internas ol li {
	display: list-item !important;
	list-style: decimal outside !important;
	line-height: 1.5em !important;
	font-size: .9em;
	margin-bottom: .25em
}

#content.internas .below-content {
	margin-top: 2.5em;
	border-top: 4px solid #1a2a39
}

#content.internas .below-content .line {
	display: block;
	margin: 0;
	padding: 1em 0;
	border-bottom: 1px solid #717782;
	color: #3a70d1;
	text-align: left;
	font-size: .8em;
	font-family: Arial, Helvetica, sans-serif
}

#content.internas .below-content .line span {
	display: inline-block;
	margin-left: 5px;
	line-height: 30px
}

#content.internas .below-content .line a.link-categoria, #content.internas .below-content .line span.selectedTag
	{
	margin: 0;
	padding: 4px 9px;
	border: 1px solid #cfcdcd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #e8e7e7;
	color: #3a70d1
}

#content.internas .below-content .line a.link-categoria:hover, #content.internas .below-content .line span.selectedTag:hover
	{
	background: #205c90;
	border-color: #205c90;
	color: #fff
}

#content.internas .below-content .content-links li {
	font-size: 1.3em
}

#content.internas blockquote, #content.internas .lateralquote, #content.internas .pullquote
	{
	float: right;
	clear: right;
	border-bottom: 1px solid #717782;
	border-top: 4px solid #1a2a39;
	border-left: none;
	border-right: 0;
	border-left: none !important;
	color: #9fa9b3;
	font-size: 1.4em;
	font-weight: bold !important;
	letter-spacing: -0.03em !important;
	line-height: 1.25em;
	margin: 0 1em .5em .5em;
	width: 35%;
	padding: 1em 0 !important
}

#content.internas blockquote p, #content.internas .lateralquote p,
	#content.internas .pullquote p, #content.internas blockquote a,
	#content.internas .lateralquote a, #content.internas .pullquote a {
	font-weight: bold
}

#content.internas .tile-list-1 li.hide {
	display: none !important
}

#content.internas .tile-list-1 .tileItem {
	border-bottom: 1px solid #e8e7e7;
	clear: both;
	font-size: 1em;
	margin: 0;
	overflow: hidden;
	padding: 2em 0;
	position: relative
}

#content.internas .tile-list-1 .tileItem .tileContent {
	float: right;
	border-left: 1px dotted #cfcdcd;
	overflow: hidden;
	padding-left: 22px;
	margin-right: 15px
}

#content.internas .tile-list-1 .tileItem .tileContent .subtitle {
	border: 0;
	margin: 0 !important;
	font-size: .83em;
	color: #3a70d1;
	text-transform: uppercase
}

#content.internas .tile-list-1 .tileItem .tileContent .tileHeadline {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 .438em;
	padding: 0;
	line-height: 1.7em
}

#content.internas .tile-list-1 .tileItem .tileContent .tileHeadline a {
	color: #1a2a39
}

#content.internas .tile-list-1 .tileItem .tileContent .tileHeadline a:hover
	{
	text-decoration: underline
}

#content.internas .tile-list-1 .tileItem .tileContent .description {
	font-weight: normal;
	font-size: 1em;
	color: #000;
	line-height: 1.6em;
	margin-bottom: 18px
}

#content.internas .tile-list-1 .tileItem .tileContent .keywords {
	color: #596e7f;
	font-size: .9em;
	line-height: 1.1em
}

#content.internas .tile-list-1 .tileItem .tileContent .keywords a {
	color: #3a70d1
}

#content.internas .tile-list-1 .tileItem .tileContent .keywords a:hover
	{
	color: #000
}

#content.internas .tile-list-1 .tileItem .tileContent .keywords p {
	margin: 0 !important;
	line-height: 1.5em
}

#content.internas .tile-list-1 .tileItem .tileImage {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 3px 6px 6px 0
}

#content.internas .tile-list-1 .tileItem .tileInfo {
	float: left;
	margin: 0
}

#content.internas .tile-list-1 .tileItem .tileInfo ul {
	margin: 0 0 0 10px
}

#content.internas .tile-list-1 .tileItem .tileInfo ul li {
	list-style: none !important;
	margin: 0 0 10px 0;
	color: #717782
}

#content.internas .tile-list-1 .tileItem .tileInfo i {
	color: #1b9501
}

#content.internas .tile-list-1 .tileItem .tileInfo .icon-calendar {
	font-size: .9em
}

#content.internas .tile-list-1 .tileItem .tileInfo .icon-time {
	font-size: 1.1em;
	margin-left: -2px
}

#content.internas .tile-list-1 .tileItem .tileHeader h2, #content.internas .tile-list-1 .tileItem .tileHeader h3,
	#content.internas .tile-list-1 .tileItem .tileHeader h4 {
	font-size: 1.6em;
	font-weight: 700;
	margin-bottom: .1em;
	margin-top: 0
}

#content.internas .tile-list-1 .tileItem .tileHeader h2 a, #content.internas .tile-list-1 .tileItem .tileHeader h3 a,
	#content.internas .tile-list-1 .tileItem .tileHeader h4 a {
	color: #000
}

#content.internas .tile-list-1 .tileItem .tileHeader h2 a:hover,
	#content.internas .tile-list-1 .tileItem .tileHeader h3 a:hover,
	#content.internas .tile-list-1 .tileItem .tileHeader h4 a:hover {
	text-decoration: underline
}

#content.internas .tile-list-1 .items-leading .description {
	font-size: 1.1em !important
}

#content.internas .tile-list-1 .items-leading .keywords {
	font-size: .8em !important
}

#content.internas .tile-list-1 .items-leading .readmore {
	margin-top: 12px;
	font-size: 1.1em;
	font-weight: 700
}

#content.internas .tile-list-1 .items-leading .readmore a:hover {
	text-decoration: underline
}

#content.internas .tile-list-1 .cols-2 .tileItem, #content.internas .tile-list-1 .cols-3 .tileItem
	{
	clear: none !important;
	border-left: 1px dotted #cfcdcd;
	overflow: hidden;
	padding: 15px
}

#content.internas .tile-list-1 .cols-2 .tileContent, #content.internas .tile-list-1 .cols-3 .tileContent
	{
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0
}

#content.internas .tile-list-1 .cols-2 .tileInfo, #content.internas .tile-list-1 .cols-3 .tileInfo
	{
	width: 100%;
	margin: 0;
	padding: 0
}

#content.internas .tile-list-1 .cols-2 .tileInfo ul, #content.internas .tile-list-1 .cols-3 .tileInfo ul
	{
	float: left;
	margin: 5px 0;
	padding: 0
}

#content.internas .tile-list-1 .cols-2 .tileInfo ul li, #content.internas .tile-list-1 .cols-3 .tileInfo ul li
	{
	display: block;
	float: left;
	margin-right: 10px
}

#content.internas .tile-list-1 .cols-3 .subtitle, #content.internas .tile-list-1 .cols-3 .keywords,
	#content.internas .tile-list-1 .cols-3 .readmore {
	display: none
}

#content.internas .tile-list-1 .search-results .result-title a {
	color: #1c78e4 !important
}

#content.internas .tile-list-1 .search-results span.highlight {
	background: #ff0
}

#content.internas .tile-list-1 .search-results .result-tags span.highlight
	{
	background: #eeeff2;
	font-weight: 600
}

#content.internas div.container-items-more-cat-children {
	border-bottom: 1px solid #e8e7e7;
	padding-bottom: 10px;
	margin-bottom: 10px
}

#content.internas div.items-more h3 {
	font-size: 1.2em
}

#content.internas div.cat-children dt, #content.internas div.cat-children dd
	{
	display: inline;
	clear: none;
	font-weight: 300;
	color: #717782
}

#content.internas div.cat-children h3 {
	font-size: 1.2em
}

#content.internas div.pagination p.counter {
	display: block;
	width: 114px;
	padding-top: 3px
}

#content.internas div.pagination ul, #content.internas div.pagination li
	{
	list-style: none !important;
	float: left
}

#content.internas div.pagination li {
	float: left
}

#content.internas div.direct-image {
	margin: 0 0 21px 0;
	display: table
}

#content.internas div.direct-image .caption-top {
	background: #eeeff2;
	padding: 3px 6px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-style: italic;
	color: #717782;
	font-size: .91em
}

#content.internas div.direct-image .image-alt {
	background: #eeeff2;
	padding: 6px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px
}

#content.internas div.lightbox-image .caption-top {
	padding: 3px 6px 3px 0;
	font-style: italic;
	font-size: .82em
}

#content.internas div.lightbox-image .image-alt {
	padding: 6px 6px 6px 0;
	font-size: .78em;
	line-height: 1.4em
}

#content.internas div.light-image-left {
	margin-right: 15px
}

#content.internas div.light-image-right {
	margin-left: 15px
}

#content.internas div.light-image-horz {
	width: 230px
}

#content.internas div.light-image-vert {
	max-width: 180px
}

#content.internas #fulltext-modal {
	width: 770px !important
}

#content.internas #fulltext-modal .modal-body {
	text-align: center;
	max-height: 500px
}

#content.internas #fulltext-modal .modal-footer {
	text-align: left;
	font-size: .91em
}

#content.internas div.pull-none {
	width: 100%;
	margin: 10px 0;
	text-align: center
}

#content.internas #content-links-modal {
	width: 94% !important;
	margin-left: -47%
}

#content.internas #content-links-modal .modal-header {
	height: 30px
}

#content.internas #content-links-modal .modal-body {
	text-align: center;
	max-height: 500px
}

#content.internas #content-links-modal .modal-footer {
	height: 30px
}

.contraste {
	background-color: #0d0d0d !important;
	color: #fff
}

.contraste a {
	color: yellow
}

.contraste a:hover, .contraste a:focus {
	color: yellow
}

.contraste h1 small, .contraste h2 small, .contraste h3 small,
	.contraste h4 small, .contraste h5 small, .contraste h6 small {
	color: #ccc
}

.contraste figure figcaption {
	background-color: #1a1a1a
}

.contraste ::selection {
	color: #111;
	background-color: #fff
}

.contraste ::-moz-selection {
	color: #111;
	background-color: #fff
}

.contraste .form-control:-moz-placeholder {
	color: #fff
}

.contraste .form-control::-moz-placeholder {
	color: #fff
}

.contraste .form-control:-ms-input-placeholder {
	color: #fff
}

.contraste .form-control::-webkit-input-placeholder {
	color: #fff
}

.contraste .form-control:focus {
	border-color: #fff;
	outline: 0;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(255, 255, 255, 0.6)
}

.contraste .btn-default {
	background-color: #262626;
	color: #fff;
	border-color: #1a1a1a
}

.contraste .btn-default:hover, .contraste .btn-default:focus {
	background-color: #1a1a1a
}

.contraste input {
	background-color: #262626;
	color: #fff
}

.contraste header {
	background-color: #000;
	background-image: -moz-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(1%, #000), color-stop(100%, #000));
	background-image: -webkit-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
	background-image: -o-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
	background-image: -ms-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
	background-image: radial-gradient(ellipse at center, #000 1%, #000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000,
		endColorstr=#000000, GradientType=1);
	color: #fff;
	border-top-color: #0d0d0d
}

.contraste header .active a {
	color: #cfc
}

.contraste header #accessibility a {
	color: yellow
}

.contraste header #accessibility a:hover {
	background: #FFF;
	color: #000
}

.contraste header #accessibility a span {
	background: #FFF;
	color: #000
}

.contraste header #logo a {
	color: yellow
}

.contraste header .sobre {
	background: #1c1c1c;
	border-color: yellow
}

.contraste header .sobre li {
	border-color: #383838
}

.contraste header .sobre a {
	color: #ff0
}

.contraste header #portal-siteactions, .contraste header #language {
	border-color: #666
}

.contraste header #portal-siteactions a, .contraste header #language a {
	color: yellow
}

.contraste header #portal-searchbox input[placeholder], .contraste header #portal-searchbox [placeholder],
	.contraste header #portal-searchbox *[placeholder] {
	color: yellow !important
}

.contraste header #portal-searchbox input {
	color: #FFF
}

.contraste header #portal-searchbox input:focus {
	background-color: #000
}

.contraste header #portal-searchbox .searchButton {
	background: yellow;
	color: #000
}

.contraste header #social-icons a {
	color: yellow
}

.contraste header #social-icons a:hover {
	color: white
}

.contraste main div.container #em-destaque h2 {
	background: #000;
	border-bottom: dotted #fff 1px
}

.contraste main div.container #em-destaque ul {
	background: #1c1c1c;
	border-bottom: dotted #fff 1px
}

.contraste main div.container #em-destaque li a {
	color: #ff0
}

.contraste main div.container #navigation .mainmenu-toggle {
	background: white !important;
	color: black !important
}

.contraste main div.container #navigation .menu-de-apoio {
	background: transparent !important
}

.contraste main div.container #navigation .menu-de-apoio a {
	color: yellow
}

.contraste main div.container #navigation nav h2 {
	background: #1c1c1c !important;
	border-color: #FFF !important;
	color: #fff !important
}

.contraste main div.container #navigation nav a {
	color: yellow
}

.contraste main div.container #navigation nav, .contraste main div.container #navigation li,
	.contraste main div.container #navigation ul, .contraste main div.container #navigation a
	{
	background: transparent !important
}

.contraste main div.container #navigation li.active {
	background: #1c1c1c !important;
	border-color: yellow !important
}

.contraste main div.container #navigation li.active a {
	background: transparent !important
}

.contraste main div.container #navigation li.active ul {
	background: transparent !important
}

.contraste main div.container #navigation li.active li {
	background: transparent !important
}

.contraste main div.container #navigation .central-conteudos .icon-stack-base
	{
	color: white !important
}

.contraste main div.container #navigation .central-conteudos .icon-light
	{
	color: black !important
}

.contraste footer {
	background-image: none;
	background-color: #000
}

.contraste footer h2, .contraste footer h3, .contraste footer h4 {
	color: #fff
}

.contraste footer .footer-atalhos, .contraste footer .footer-logos {
	background: #1c1c1c;
	border-color: yellow
}

.contraste footer .footer-atalhos a, .contraste footer .footer-logos a {
	color: #ff0
}

.contraste footer .footer-ferramenta {
	background: #000
}

@media ( max-width :979px) {
	.contraste main #em-destaque h2, .contraste main #em-destaque ul {
		border-bottom: none !important
	}
	.contraste main .navigation-container {
		background: #1c1c1c
	}
	.contraste main .navigation-container .mainmenu-toggle {
		border: 1px solid yellow;
		background: #000;
		color: yellow
	}
	.contraste main .navigation-container .mainmenu-toggle .icon-list {
		display: none !important
	}
	.contraste main #navigation {
		background: #000 !important;
		border-color: #000 !important
	}
}

.contraste .module {
	background: transparent !important
}

.contraste .module div, .contraste .module .active {
	background: transparent !important
}

.contraste .module a {
	color: yellow !important
}

.contraste .module h1, .contraste .module h2, .contraste .module h3,
	.contraste .module h4, .contraste .module h5, .contraste .module h6 {
	color: white !important;
	font-weight: 700
}

.contraste .module .outstanding-header, .contraste .module .outstanding-footer
	{
	background: #1c1c1c !important;
	color: white !important;
	border-color: white !important
}

.contraste .module .outstanding-header a, .contraste .module .outstanding-footer a
	{
	color: yellow !important
}

.contraste .module .outstanding-link .icon-box {
	background-color: #ff0 !important;
	background-image: -moz-radial-gradient(center, ellipse cover, #ff0 1%, #ff0 100%)
		!important;
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(1%, #ff0), color-stop(100%, #ff0)) !important;
	background-image: -webkit-radial-gradient(center, ellipse cover, #ff0 1%, #ff0 100%)
		!important;
	background-image: -o-radial-gradient(center, ellipse cover, #ff0 1%, #ff0 100%)
		!important;
	background-image: -ms-radial-gradient(center, ellipse cover, #ff0 1%, #ff0 100%)
		!important;
	background-image: radial-gradient(ellipse at center, #ff0 1%, #ff0 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f000,
		endColorstr=#ffff00, GradientType=1) !important;
	color: #fff !important
}

.contraste .module .outstanding-link .icon-light {
	color: black !important
}

.contraste .module .subtitle {
	color: white !important
}

.contraste .module .carousel-control {
	opacity: 1 !important
}

.contraste main div.rastro-navegacao {
	color: #fff
}

.contraste #content.internas {
	color: #FFF
}

.contraste #content.internas h1, .contraste #content.internas .documentFirstHeading,
	.contraste #content.internas .secondaryHeading, .contraste #content.internas .borderHeading
	{
	color: #FFF
}

.contraste #content.internas h1 a, .contraste #content.internas .documentFirstHeading a,
	.contraste #content.internas .secondaryHeading a, .contraste #content.internas .borderHeading a
	{
	color: #ff0
}

.contraste #content.internas .content-header-options-1 .documentByLine {
	color: #fff
}

.contraste #content.internas .description, .contraste #content.internas .documentCategory,
	.contraste #content.internas .subtitle, .contraste #content.internas .documentByLine ul li
	{
	color: #fff
}

.contraste #content.internas .below-content {
	border-color: #FFF;
	color: #FFF
}

.contraste #content.internas .below-content .line {
	color: #fff
}

.contraste #content.internas .below-content a.link-categoria, .contraste #content.internas .below-content span.selectedTag
	{
	background: #000;
	color: yellow
}

.contraste #content.internas .below-content a.link-categoria:hover,
	.contraste #content.internas .below-content span.selectedTag:hover {
	color: #000;
	background: yellow;
	border-color: #fff
}

.contraste #content.internas blockquote {
	border-color: #fff
}

.contraste #content.internas .tile-list-1 .tileItem {
	border-color: #FFF
}

.contraste #content.internas .tile-list-1 .tileItem .subtitle {
	color: #fff
}

.contraste #content.internas .tile-list-1 .tileItem .tileHeadline,
	.contraste #content.internas .tile-list-1 .tileItem .tileHeadline a {
	color: #ff0
}

.contraste #content.internas .tile-list-1 .tileItem .description {
	color: #fff
}

.contraste #content.internas .tile-list-1 .tileItem .keywords {
	color: #FFF
}

.contraste #content.internas .tile-list-1 .tileItem .keywords a {
	color: yellow
}

.contraste #content.internas .tile-list-1 .tileItem .keywords a:hover {
	color: yellow;
	text-decoration: underline
}

.contraste #content.internas .tile-list-1 .tileInfo ul li {
	color: #fff
}

.contraste #content.internas .tile-list-1 .tileInfo i {
	color: #ff0
}
